# Build artifacts
bin/
obj/
*.exe
*.dll

# User-specific files
*.user
*.suo

# Visual Studio Code settings
.vscode/

# Sensitive config files
appsettings.json

# Conda environment files if you have them
.conda/

# OS-specific / Editor junk
.DS_Store
Thumbs.db

# PyQt UI compilation results
*.pyc

# Spotify Client Secrets
src/.env